:root {
  /* color definitions */
  --primary: #b5fed9;
  --secondary: #0F8B8D;
  --tertiary: #0A49F5;
  --sub1:  #667292;
  --sub2: #f1e3dd;
}
body {
  background: var(--primary)
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--primary);
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: var(--secondary);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: var(--primary);
  width: 0%;
}

img {
    max-width: 100%;
    max-height: 100%;
}
img[src~="venue"] {
  max-width: 100%;
  align-content: center;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:10px;width:10px;padding:0}

.svg-image {
  display: inline-block; 
  height: 20px; 
  width: 20px;
 }

.w3-container {
  max-width: 800px;
  margin: auto;
}

.map { 
  overflow: scroll;
  align-content: center;
  height: 600px;
  position: relative;
}

.w3-content .welcome h1 {
  font-family: 'Prata';
  font-size: 40px;
}

.w3-content .welcome h2, h3, p, li, ul, ol, code, a {
  font-family: 'Prata'
}

.w3-content h1 {
  font-family: 'Prata'; 
  font-size: 33px
}

.w3-content h2 {
  font-family: 'Prata'; 
  font-size: 24px
}

.w3-content h3 {
  font-family: 'Prata'; 
  font-size: 20px
}

p, li, ul, ol, code, a {
  font-family: 'Lato', serif;
  font-size: 18px;
}
