<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1"
        name="viewport">
  <link href="https://www.w3schools.com/w3css/4/w3.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Fredericka+the+Great|Pacifico|Yeseva+One"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
  <link href="/css/style.css"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Oswald|Dancing+Script"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre"
        rel="stylesheet">
  <title></title>
</head>
<body>
</body>
</html>